@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    
}

body{
    font-family: 'Montserrat', sans-serif;

}

header {
    position: absolute;
    background:transparent;
    width: 100%;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}
header div {
    margin: 20px;
}
a{
    color: black;
    text-decoration: none;
}
.social {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0 30px;
    position: relative;
    bottom: 10rem;
}
.social a {
    margin: 8px 5px;
    display: flex;
    width: 30px; 
    height: 30px;
    justify-content: center;
    align-items: center;
}
a.btn {
    text-decoration: none;
    color: black;
}
a.btn.inline {
    border: 1px solid;
    width: 85px;
    display: inline-flex;
    height: 33px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 10px auto;
    font-size: 0.7rem;

}
a.btn.inline:hover{
    background-color: black;
    color: white;
}
a.btn.primary {
    border: 1px solid;
    width: 150px;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to right top, #f5c5ea, #a5e4fd);
    /* font-weight: 300; */
    text-transform: uppercase;
    font-size: 0.7rem;
    border: 1px solid black;
}
.btn svg{
    margin-left: 5px;
    font-size: .8rem;
}
.display {
    background-image: url(/assets/img/bg-desk.png);
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding: 0;
    background-repeat: no-repeat;
    
    background-position: 0 -70px;
}
.display .content-text h2 {
    font-weight: 300;
    text-align: center;
    background: transparent;
    width: 240px;
    margin: 10% auto 0;
    font-size: 1rem;
}
.display span {
    font-size: 3rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
}
.harmonyabout h2 {
    font-size: 3rem;
    text-transform: uppercase;
}
.harmonyabout {
    width: 90%;
    margin: 0 auto; 
}
.display h1 {
    font-size: 2rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
}
.content-text {
    padding: 50% 0 0;
}
.harmonyabout .content-text {
    padding: 15% 0;
}
.brand .logo {
    width: 39px;
    margin: 0;
    display: block;
}



@media(min-width:768px){
    .brand .logo {
        width: 50px;
       
    }
    .menu {
        width: 50%;
    }
    .display h1 {
        font-size: 2.3rem;
    }
    .display span {
        font-size: 3.5rem !important;
       
    } 
    .harmonyabout {
 
        display: flex;
        align-items: center;
    }
    .content-text {
        padding: 20% 0 0;
    }
    .harmonyabout div:last-child {
        padding: 40px;
    }
}

@media(min-width:1200px){
    .display span {
        font-size: 5.5rem !important;
        letter-spacing: 27px;
    }
    .content-text {
        padding: 15% 0 0;
    }
    .display h1 {
        font-size: 2.3rem;
        letter-spacing: 15px;
    }   

    nav ul{
        display: flex !important;
    }
    .display {
      
        height: 100vh;
    }
    .harmonyabout {
        width: 70%;
        margin: 0 auto;
    }
    .menu {
        max-width: 30%;
    }
}